# Kotlin/Android specific
*.iml
/build/
/.gradle/
/captures/
local.properties

# Gradle files
.gradle/
build/

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

.idea/